.section_tickets-section {
  position: absolute;
  width: 1440px;
  height: 743px;
  left: 0px;
  top: 3850px;
}

.text_Buy_tickets {
  width: 472px;
  top: 0px;
  color: #ffffff;
  z-index: 2;
}

.BG_tickets {
  position: absolute;
  width: 1920px;
  height: 893px;
  left: -240px;
  top: -75px;

  background: #030303;
  border-radius: 0px;
  z-index: 1;
}

.line_tickets {
  width: 1440px;
  z-index: 2;
}

.Ticket_type {
  position: absolute;
  width: 270px;
  height: 262px;
  left: 780px;
  top: 193px;
}

.text_Ticket_Type {
  position: absolute;
  width: 156px;
  height: 33px;
  left: 0px;
  top: 0px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  /* identical to box height */

  color: #ffffff;
  z-index: 2;
}

.container_radio {
  position: absolute;
  width: 270px;
  height: 25px;
  left: 0px;
}
.container_radio1 {
  top: 83px;
  z-index: 2;
}

.name_radio {
  position: absolute;
  width: 230px;
  height: 26px;
  left: 40px;
  top: 0px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  /* identical to box height */

  color: #ffffff;
  z-index: 2;
}

.picture_tickets {
  position: absolute;
  width: 720px;
  height: 550px;
  left: 0px;
  top: 193px;
  border-radius: 0px;
  z-index: 2;
}

.ellipse_1 {
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0px;
  top: 8px;

  border: 2px solid #ffffff;
  box-sizing: border-box;
  z-index: 2;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
  z-index: 2;
}
