.section_video-section {
  position: absolute;
  width: 1440px;
  height: 90px;
  left: 0px;
  top: 3610px;
}
.text_Video_journey {
  width: 606px;
  top: 0px;
  color: #9d8665;
}

.frame {
  position: absolute;
  width: 1440px;
  height: 714px;
  left: 0px;
  top: -754px;
}

.video_player {
  position: absolute;
  width: 1440px;
  height: 714px;
  left: 0px;
  top: -754px;
}

.video {
  position: absolute;
  width: 1440px;
  height: 629px;
  left: 0px;
  top: 0px;
  border-radius: 0px;
}

.play {
  position: absolute;
  width: 220px;
  height: 220px;
  left: 610px;
  top: 205px;

  border-radius: 0px;
}

.vector_play_inside {
  position: absolute;
  left: 34.79%;
  right: 23.66%;
  top: 22.69%;
  bottom: 22.69%;

  background: #ffffff;
}
