.section_contacts-section {
  position: absolute;
  width: 1440px;
  height: 813px;
  left: 0px;
  top: 4743px;
}

.text_Contacts {
  width: 397px;
  top: 0px;
  color: #9d8665;
}

.line_contacts {
  position: absolute;
  width: 1440px;
  height: 3px;
  left: 0px;
  top: 115px;

  background: #710707;
  border-radius: 0px;
}

.map {
  position: absolute;
  width: 960px;
  height: 620px;
  left: 480px;
  top: 193px;
  border-radius: 0px;
}

.contact_block {
  position: absolute;
  width: 282px;
  height: 221px;
  left: 0px;
  top: 203px;
}

.name_group {
  position: absolute;
  height: 33px;
  left: 0px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  /* identical to box height */

  color: #000000;
}

.text_Palais_Royal {
  width: 197px;
  top: 0px;
}

.text_Musee_du_Louvre {
  width: 277px;
  top: 34px;
}

.address {
  position: absolute;
  height: 26px;
  top: 103px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  /* identical to box height */

  color: #000000;
}

.text_address {
  width: 87px;
  left: 0px;
}

.museum_address {
  width: 195px;
  left: 87px;
}

.phone {
  position: absolute;
  height: 26px;
  top: 149px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  /* identical to box height */

  display: flex;
  align-items: flex-end;

  color: #000000;
}

.text_phone {
  width: 70px;
  left: 0px;
}

.museum_phone {
  width: 201px;
  left: 70px;
}

.mail {
  position: absolute;
  height: 26px;
  top: 195px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  /* identical to box height */

  color: #000000;
}

.text_mail {
  width: 51px;
  left: 0px;
}

.museum_mail {
  width: 142.98px;
  left: 51px;
}
