/*.Welcome_to_the_louvre {
  position: absolute;
  width: 598px;
  height: 390px;
  left: 0px;
  top: 0px;
}

.Welcome {
  width: 380px;
  top: 0px;
  color: #ffffff;
  z-index: 3;
}

.to_the_Louvre {
  width: 598px;
  top: 90px;
  color: #ffffff;
  z-index: 3;
}
*/
